body {
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  color: #707070; }

video {
  max-width: 100%;
  object-fit: fill; }

@media (min-width: 768px) {
  .vertical-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 768px) {
  .vertical-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.btn-secondary-outline {
  background-color: transparent;
  color: #626262;
  border: 1px solid #707070;
  padding: 8px 18px;
  border-radius: 8px; }
  .btn-secondary-outline:focus, .btn-secondary-outline:hover {
    background-color: #707070;
    color: #fff; }

.img-parallax {
  transition: all 1.7s; }

.jelly-land p {
  color: #707070; }

.jelly-land .jelly-title {
  text-align: center; }
  .jelly-land .jelly-title h1 {
    font-weight: 600;
    font-size: 36px;
    max-width: 330px;
    margin: 8px auto;
    width: 100%;
    line-height: 33px; }

.jelly-land .gun-charger {
  margin: 20px 0 70px; }
  .jelly-land .gun-charger .gun-charger-types .gun-charger-bg {
    /* Set a specific height */
    min-height: 650px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.rapid-charge {
  width: 100%;
  display: inline-block;
  margin: 30px 0; }
  .rapid-charge .container {
    position: relative; }
  .rapid-charge-data {
    width: 100%;
    height: 100%;
    max-width: 100%;
    /*  .rapid-box {
      border: 2px solid #a3a6a8;
      -webkit-border-radius: 23px;
      -webkit-border-top-right-radius: 7px;
      -webkit-border-bottom-left-radius: 7px;
      -moz-border-radius: 23px;
      -moz-border-radius-topright: 7px;
      -moz-border-radius-bottomleft: 7px;
      border-radius: 23px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 7px;
      -webkit-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
            transform: skew(-10deg);

      &-data {
        margin: 4px;
        padding: 12px;
        background-color: #a3a6a8;
        color: #fff;
        -webkit-border-radius: 17px;
        -webkit-border-top-right-radius: 7px;
        -webkit-border-bottom-left-radius: 7px;
        -moz-border-radius: 17px;
        -moz-border-radius-topright: 7px;
        -moz-border-radius-bottomleft: 7px;
        border-radius: 17px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 7px;

        p {
          margin: 0;
        }
      }

      &-green {
        border-color: #50e278;
        position: relative;
        margin-bottom: 20px;
        margin-top: 40px;

        .rapid-2x {
          background: #50e278;
          width: 80px;
          position: absolute;
          right: 5px;
          top: -35px;
          border-radius: 10px;
          padding: 0 10px;
          text-align: center;

          span {
            font-size: 40px;
            font-weight: 600;
            color: #fff;
          }

          p {
            margin: 0;
            font-size: 16px;
            font-style: normal;
            color: #fff;
            font-weight: 600;
          }
        }

        .rapid-box-data {
          background-color: #50e278;
        }
      }
    } */ }
    @media (min-width: 992px) {
      .rapid-charge-data {
        position: absolute;
        right: 30px;
        top: 0;
        max-width: 450px; } }
    .rapid-charge-data h3, .rapid-charge-data p {
      color: #232323; }
    .rapid-charge-data .rapid-box {
      width: 100%;
      height: 94px;
      background-repeat: no-repeat;
      background-image: url(../images/ChargeBars/Similar-Sized-Chargers-Border.png); }
      @media (max-width: 767px) {
        .rapid-charge-data .rapid-box {
          background-size: contain; } }
      .rapid-charge-data .rapid-box-data {
        width: 0%;
        height: 90px;
        background-repeat: no-repeat;
        background-image: url(../images/ChargeBars/Similar-Sized-Chargers-Bar.png);
        transition: width 2s; }
        @media (max-width: 767px) {
          .rapid-charge-data .rapid-box-data {
            background-size: contain; } }
        .rapid-charge-data .rapid-box-data p {
          margin: 0; }
        .rapid-charge-data .rapid-box-data.charged {
          width: 100%; }
      .rapid-charge-data .rapid-box-green {
        background-image: url(../images/ChargeBars/Speeds-Border.png);
        position: relative;
        margin: 20px 0; }
        .rapid-charge-data .rapid-box-green .rapid-box-data {
          background-image: url(../images/ChargeBars/Speeds-Bar.png);
          background-position: 0 2px; }

.jellyfish-acc-img {
  overflow: hidden; }
  .jellyfish-acc-img img {
    transition: 3.5s all ease-in-out; }
  .jellyfish-acc-img:hover img, .jellyfish-acc-img:focus img {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

.jellyfish-sleek {
  margin: 20px 0; }
  .jellyfish-sleek-content {
    flex-wrap: wrap;
    align-items: flex-end; }
    @media (max-width: 767px) {
      .jellyfish-sleek-content .sleek-title {
        margin-bottom: 30px; } }
    @media (min-width: 992px) {
      .jellyfish-sleek-content .sleek-title {
        margin-bottom: 100px; } }
    .jellyfish-sleek-content .sleek-title h3, .jellyfish-sleek-content .sleek-title p {
      color: #232323; }

.jelly-gan {
  margin: 30px 0; }
  .jelly-gan .container {
    position: relative; }
  @media (min-width: 992px) {
    .jelly-gan .jelly-gan-img img {
      margin: 0 auto; } }
  .jelly-gan .jelly-gan-data {
    max-width: 550px;
    width: 100%; }
    @media (min-width: 992px) {
      .jelly-gan .jelly-gan-data {
        position: absolute;
        left: 0;
        bottom: 0; } }
    .jelly-gan .jelly-gan-data h3 {
      margin: 0 0 10px; }

.jelly-smart {
  margin: 40px 0 0 0; }
  @media (min-width: 768px) {
    .jelly-smart {
      margin: 120px 0 0 0; } }
  .jelly-smart .container {
    position: relative; }
  @media (min-width: 768px) {
    .jelly-smart-data .jelly-smart-content {
      position: absolute;
      left: 80px;
      bottom: 60px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .jelly-smart-data .jelly-smart-content {
      left: 0;
      bottom: 10px; } }
  @media (min-width: 768px) {
    .jelly-smart-data .jelly-smart-content h3, .jelly-smart-data .jelly-smart-content p {
      color: #fff; } }

.jelly-pintsize {
  margin: 30px 0; }
