video {
  max-width: 100%;
  object-fit: fill; }

@media (min-width: 768px) {
  .vertical-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 768px) {
  .vertical-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media (max-width: 767px) {
  .mobile-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.btn-secondary-outline {
  background-color: #707070;
  border: 1px solid #707070;
  color: #fff;
  padding: 8px 18px;
  border-radius: 8px;
  text-transform: uppercase;
  line-height: 1.6em;
  transition: all 0.3s; }
  .btn-secondary-outline:focus, .btn-secondary-outline:hover {
    background-color: #ffb232;
    border: 1px solid #707070;
    color: #707070; }

.img-parallax {
  transition: all 1.7s; }

.last-img-parallax {
  /*ipad PRo 12.9"*/ }
  @media (min-width: 1025px) {
    .last-img-parallax {
      max-width: 430px; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .last-img-parallax {
      max-width: 410px; } }

.cms-rapid-wall-chargers .breadcrumbs {
  padding: 15px 0px 15px;
  background-color: #f7f8f8; }
  .cms-rapid-wall-chargers .breadcrumbs .items {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px; }
    .cms-rapid-wall-chargers .breadcrumbs .items .item a, .cms-rapid-wall-chargers .breadcrumbs .items .item strong {
      color: #797e80; }
    .cms-rapid-wall-chargers .breadcrumbs .items .item:not(:last-child):after {
      color: #797e80;
      content: "\f105"; }

.jelly-land h1, .jelly-land h2, .jelly-land h3, .jelly-land h4, .jelly-land h5, .jelly-land h6, .jelly-land p {
  color: #6f706f;
  font-weight: 300; }

.jelly-land .jelly-title .container {
  position: relative; }

.jelly-land .jelly-title .gan-box {
  max-width: 390px;
  margin: 8px auto;
  width: 100%;
  /*ipad PRo 12.9"*/ }
  @media (min-width: 1025px) {
    .jelly-land .jelly-title .gan-box {
      position: absolute;
      right: 120px;
      height: 100%; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .jelly-land .jelly-title .gan-box {
      position: absolute;
      right: 20px;
      max-width: 355px; } }
  .jelly-land .jelly-title .gan-box-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
    .jelly-land .jelly-title .gan-box-data p {
      margin: 0 0 5px; }
    .jelly-land .jelly-title .gan-box-data img {
      max-width: 40px;
      margin-left: 5px; }
  .jelly-land .jelly-title .gan-box h1 {
    font-weight: 700;
    font-size: 46px;
    font-family: 'proxima_novabold';
    line-height: 0.8em;
    margin: 0; }
    @media (max-width: 767px) {
      .jelly-land .jelly-title .gan-box h1 {
        font-size: 38px; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .jelly-land .jelly-title .gan-box h1 {
        font-size: 42px; } }
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .jelly-land .jelly-title .gan-box h1 {
        font-size: 40px; } }

.jelly-land .gun-charger {
  margin: 0 0 70px; }
  @media (max-width: 991px) {
    .jelly-land .gun-charger {
      margin: 20px 0 60px; } }
  .jelly-land .gun-charger .container {
    /*ipad PRo 12.9"*/ }
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .jelly-land .gun-charger .container {
        padding: 0 40px; } }
  @media (max-width: 767px) {
    .jelly-land .gun-charger .gun-charger-types .mobile-flex {
      flex-wrap: wrap; }
      .jelly-land .gun-charger .gun-charger-types .mobile-flex div:first-child {
        order: 2; }
    .jelly-land .gun-charger .gun-charger-types .gun-charger-data {
      margin-bottom: 30px; }
      .jelly-land .gun-charger .gun-charger-types .gun-charger-data .btn-secondary-outline {
        margin: 40px 0 0; } }
  .jelly-land .gun-charger .gun-charger-types .gun-charger-bg {
    /* Set a specific height */
    min-height: 650px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  @media (max-width: 767px) {
    .jelly-land .gun-charger .gun-charger-types .vertical-row .img-responsive {
      max-width: 70%;
      margin: 0 auto; } }

.rapid-charge {
  width: 100%;
  display: inline-block;
  margin: 30px 0; }
  .rapid-charge .container {
    position: relative; }
  .rapid-charge-img img {
    /*ipad PRo 12.9"*/ }
    @media (min-width: 1025px) {
      .rapid-charge-img img {
        max-width: 72%; } }
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .rapid-charge-img img {
        max-width: 80%;
        margin: 0 auto; } }
  .rapid-charge-data {
    width: 100%;
    height: 100%;
    max-width: 100%; }
    @media (min-width: 1025px) {
      .rapid-charge-data {
        position: absolute;
        right: 60px;
        top: 0;
        max-width: 450px; } }
    @media (max-width: 767px) {
      .rapid-charge-data h3 {
        margin: 0; } }
    @media (min-width: 992px) {
      .rapid-charge-data h3 {
        font-size: 32px; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .rapid-charge-data h3,
      .rapid-charge-data p {
        text-align: center; } }
    .rapid-charge-data .rapid-box {
      width: 100%;
      background-repeat: no-repeat;
      background-image: url(../images/ChargeBars/Similar-Sized-Chargers-Border.png); }
      @media (max-width: 767px) {
        .rapid-charge-data .rapid-box {
          background-size: contain;
          height: 100%; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .rapid-charge-data .rapid-box {
          background-position: center; } }
      .rapid-charge-data .rapid-box-data {
        width: 0%;
        height: 54px;
        background-repeat: no-repeat;
        transition: width 2s; }
        @media (max-width: 767px) {
          .rapid-charge-data .rapid-box-data {
            background-size: contain;
            height: 42px; } }
        @media (min-width: 768px) and (max-width: 1024px) {
          .rapid-charge-data .rapid-box-data {
            background-position: center; } }
        .rapid-charge-data .rapid-box-data p {
          margin: 0; }
        .rapid-charge-data .rapid-box-data.charged {
          width: 100%; }
      .rapid-charge-data .rapid-box-green {
        background-image: url(../images/ChargeBars/Speeds-Border.png);
        position: relative;
        margin: 0 0 20px 0; }
        .rapid-charge-data .rapid-box-green .rapid-box-data {
          background-position: 0 2px;
          height: 94px; }
          @media (max-width: 767px) {
            .rapid-charge-data .rapid-box-green .rapid-box-data {
              height: 70px; } }
          @media (min-width: 768px) and (max-width: 1024px) {
            .rapid-charge-data .rapid-box-green .rapid-box-data {
              background-position: center 2px; } }
    .rapid-charge-data-desc {
      margin-top: 12px;
      font-size: 12px; }
      @media (min-width: 767px) {
        .rapid-charge-data-desc {
          font-size: 10px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .rapid-charge-data-desc {
          margin-top: 32px; } }
    @media (min-width: 991px) {
      .rapid-charge-data-text {
        font-size: 21px;
        max-width: 249px;
        margin-left: 100px;
        margin-top: 30px; } }

.jellyfish-acc {
  position: relative; }
  .jellyfish-acc-img {
    overflow: hidden; }
    .jellyfish-acc-img img {
      transition: 4.5s all ease-in-out; }
      @media (min-width: 1921px) {
        .jellyfish-acc-img img {
          width: 100%; } }
    .jellyfish-acc-img:hover img, .jellyfish-acc-img:focus img {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
  .jellyfish-acc-content {
    position: absolute;
    left: 220px;
    top: 20px;
    /*ipad PRo 12.9"*/ }
    @media (max-width: 767px) {
      .jellyfish-acc-content {
        left: 10px;
        top: 10px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .jellyfish-acc-content {
        left: 40px;
        top: 10px; } }
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .jellyfish-acc-content {
        left: 140px; } }
    @media (max-width: 767px) {
      .jellyfish-acc-content h3 {
        font-style: italic;
        font-size: 28px; } }
    @media (min-width: 768px) {
      .jellyfish-acc-content h3 {
        color: #6f706f;
        font-size: 42px; } }

.jelly-gan {
  padding: 70px 0; }
  @media (min-width: 992px) {
    .jelly-gan .container {
      position: relative; } }
  @media (min-width: 992px) {
    .jelly-gan .jelly-gan-img img {
      margin: 0 auto; } }
  .jelly-gan .jelly-gan-data {
    max-width: 370px;
    width: 100%; }
    @media (min-width: 992px) {
      .jelly-gan .jelly-gan-data {
        position: absolute;
        left: 180px;
        bottom: -70px; } }
    .jelly-gan .jelly-gan-data h3 {
      margin: 0 0 10px; }
      @media (min-width: 992px) {
        .jelly-gan .jelly-gan-data h3 {
          font-size: 32px;
          margin: 0 0 20px; } }

@media (max-width: 767px) {
  .jelly-smart {
    margin: 0 0 70px 0; } }

@media (min-width: 768px) {
  .jelly-smart {
    margin: 50px 0 30px 0; } }

.jelly-smart .container {
  position: relative; }

@media (min-width: 1921px) {
  .jelly-smart-data img {
    width: 100%; } }

@media (min-width: 768px) {
  .jelly-smart-data .jelly-smart-content {
    position: absolute;
    left: 80px;
    bottom: 50px;
    max-width: 310px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .jelly-smart-data .jelly-smart-content {
    left: 0;
    bottom: 10px; } }

@media (min-width: 768px) {
  .jelly-smart-data .jelly-smart-content h3, .jelly-smart-data .jelly-smart-content p {
    color: #fff;
    font-weight: 400; } }

.jelly-smart-data .jelly-smart-content h3 {
  margin: 0 0 20px;
  color: #707070; }
  @media (max-width: 767px) {
    .jelly-smart-data .jelly-smart-content h3 {
      max-width: 160px;
      margin: 20px 0; } }
  @media (min-width: 1025px) {
    .jelly-smart-data .jelly-smart-content h3 {
      font-size: 32px;
      max-width: 230px; } }

.jelly-pintsize {
  margin: 0; }
  @media (max-width: 991px) {
    .jelly-pintsize {
      margin: 0 0 50px 0; } }
  .jelly-pintsize-data h3 {
    margin: 0; }
    @media (max-width: 767px) {
      .jelly-pintsize-data h3 {
        max-width: 160px;
        margin: 0 0 12px; } }
    @media (min-width: 1025px) {
      .jelly-pintsize-data h3 {
        font-size: 32px;
        text-align: right; } }
  .jelly-pintsize-data p {
    font-weight: 400; }

@keyframes progressBar {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
