body {
  font-family: acumin-pro, sans-serif;
}

video {
  max-width: 100%;
  object-fit: fill;
}

.vertical-row {
  @media (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.vertical-col {
  @media (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.mobile-flex {
  @media (max-width: 767px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn-secondary-outline {
  background-color: #707070;
  border: 1px solid #707070;
  color: #fff;
  padding: 8px 18px;
  border-radius: 8px;
  text-transform: uppercase;
  line-height: 1.6em;
  transition: all 0.3s;

  &:focus, &:hover {
    background-color: #ffb232;
    border: 1px solid #707070;
    color: #707070;
  }
}

.img-parallax {
  transition: all 1.7s;
}

.full-width {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.last-img-parallax {

  @media (min-width: 1025px) {
    max-width: 430px;
  }
  /*ipad PRo 12.9"*/
    @media only screen
  	and (min-device-width: 1024px)
  	and (max-device-width: 1024px)
  	and (orientation: portrait)
  	and (-webkit-min-device-pixel-ratio: 2) {
  		max-width: 410px;
  	}
}

.cms-rapid-wall-chargers {
  .breadcrumbs {
    padding: 15px 0px 15px;
    background-color: #f7f8f8;

    .items {
      max-width: 1170px;
      margin: 0 auto;
      padding: 0 15px;

      .item {

        a, strong {
          color: #797e80;
        }

        &:not(:last-child) {
          &:after {
            color: #797e80;
            content: "\f105";
          }
        }
      }
    }
  }
}

.jelly-land {

  h1, h2, h3, h4, h5, h6 {
    color: #6f706f;
    font-weight: 700;
  }

  p {
    color: #6f706f;
    font-weight: 400;
  }

  h3 {
    font-size: 4.2rem;

    @media (max-width: 767px) {
      font-size: 2.2rem;
    }
  }

  .jelly-title {

    .container {
      position: relative;
    }

    .gan-box {
      max-width: 437px;
      margin: 8px auto;
      width: 100%;

      @media (min-width: 1025px) {
        position: absolute;
        right: 160px;
        height: 100%;
      }

      /*ipad PRo 12.9" */
      @media only screen
      	and (min-device-width: 1024px)
      	and (max-device-width: 1024px)
      	and (orientation: portrait)
      	and (-webkit-min-device-pixel-ratio: 2) {
          position: absolute;
      		right: 120px;
      	}

      &-data {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;

        p {
          margin: 0 0 5px;
        }

        img {
          max-width: 40px;
          margin-left: 5px;
        }
      }

      h1 {
        font-size: 5rem;
        line-height: 0.8em;
        margin: 0;
        font-weight: 800;
        font-style: normal;

        @media (max-width: 767px) {
          font-size: 3.8rem;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size: 42px;
        }
        @media only screen
      	and (min-device-width: 1024px)
      	and (max-device-width: 1024px)
      	and (orientation: portrait)
      	and (-webkit-min-device-pixel-ratio: 2) {
      		font-size: 40px;
      	}
      }

      p {
        font-weight: 600;
        font-style: italic;

        &.text-right {
          margin-top: 10px;
        }
      }
    }
  }

  .gun-charger {
    margin: 0 0 70px;

    @media (max-width: 991px) {
      margin: 20px 0 60px;
    }

    .container {
      /*ipad PRo 12.9"*/
      @media only screen
  		and (min-device-width: 1024px)
  		and (max-device-width: 1024px)
  		and (orientation: portrait)
  		and (-webkit-min-device-pixel-ratio: 2) {
  			padding: 0 40px;
  		}
    }

    .gun-charger-types {

      @media (max-width: 767px) {
        .mobile-flex {
          flex-wrap: wrap;

          div {
            &:first-child {
              order: 2;
            }
          }
        }

        .gun-charger-data {
          margin-bottom: 30px;

          .btn-secondary-outline {
            margin: 40px 0 0;
          }
        }
      }

      .gun-charger-bg {
        /* Set a specific height */
        min-height: 650px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .vertical-row {
        .img-responsive {
          @media (max-width: 767px) {
            max-width: 70%;
            margin: 0 auto;
          }
        }
      }
    }

    h3 {
      font-size: 26px;
      font-weight: 700;
    }
  }
}

.rapid-charge {
  width: 100%;
  display: inline-block;
  margin: 30px 0;

  .container {
    position: relative;
  }

  &-img {
    img {

      @media (min-width: 1025px) {
        max-width: 72%;
      }

      /*ipad PRo 12.9"*/
      @media only screen
  		and (min-device-width: 1024px)
  		and (max-device-width: 1024px)
  		and (orientation: portrait)
  		and (-webkit-min-device-pixel-ratio: 2) {
  			max-width: 80%;
  			margin: 0 auto;
  		}
    }
  }

  &-data {
    width: 100%;
    height: 100%;
    max-width: 100%;

    @media (min-width: 1025px) {
      position: absolute;
      right: 60px;
      top: 0;
      max-width: 450px;
    }
    /*ipad PRo 12.9"*/
    @media only screen
    and (min-device-width: 1024px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
      position: static;
    }

    h3 {
      @media (max-width: 767px) {
        margin: 0;
      }
    }

    h3,
    p {
      @media (min-width: 768px) and (max-width: 1024px) {
        text-align: center;
      }
    }

    .rapid-box {
      width: 100%;
      background-repeat: no-repeat;
      background-image: url(../images/ChargeBars/Similar-Sized-Chargers-Border.png);

      @media (max-width: 767px) {
        background-size: contain;
        height: 100%;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        background-position: center;
      }

        &-data {
          width: 0%;
          height: 54px;
          background-repeat: no-repeat;

          transition: width 2s;

          @media (max-width: 767px) {
            background-size: contain;
            height: 42px;
          }

          @media (min-width: 768px) and (max-width: 1024px) {
            background-position: center;
          }

          p {
            margin: 0;
          }

          &.charged {
            width: 100%;
          }
        }

        &-green {
          background-image: url(../images/ChargeBars/Speeds-Border.png);
          position: relative;
          margin: 0 0 20px 0;

          .rapid-box-data {
            background-position: 0 2px;
            height: 94px;

            @media (max-width: 767px) {
              height: 70px;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
              background-position: center 2px;
            }
          }
        }
      }

    &-desc {
      margin-top: 12px;
      font-size: 12px;
      font-weight: 500;

      @media (min-width: 767px) {
        font-size: 10px;
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        margin-top: 32px;
      }
    }

    &-text {
      @media (min-width: 991px) {
        font-size: 21px;
        max-width: 249px;
        margin-left: 100px;
        margin-top: 30px;
      }
      /*ipad PRo 12.9"*/
      @media only screen
      and (min-device-width: 1024px)
      and (max-device-width: 1024px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 2) {
        margin: 10px 0 0;
        max-width: 100%;
      }
    }
  }
}

.jellyfish-acc {
  position: relative;

  &-img {
    overflow: hidden;

    img {
      transition: 4.5s all ease-in-out;

      @media (min-width: 1921px) {
        width: 100%;
      }
    }
  }

  &-content {
    position: absolute;
    left: 220px;
    top: 20px;

    @media (max-width: 767px) {
      left: 10px;
      top: 10px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      left: 40px;
      top: 10px;
    }

    /*ipad PRo 12.9"*/
    @media only screen
		and (min-device-width: 1024px)
		and (max-device-width: 1024px)
		and (orientation: portrait)
		and (-webkit-min-device-pixel-ratio: 2) {
			left: 140px;
		}

    h3 {
      @media (max-width: 767px) {
        font-style: italic;
        font-size: 2.8rem;
      }
      @media (min-width: 768px) {
        color: #6f706f;
      }
    }
  }
}

.jelly-gan {
  padding: 70px 0;

  .container {
    @media (min-width: 992px) {
      position: relative;
    }
  }

  .jelly-gan-img {

    img {
      @media (min-width: 992px) {
        margin: 0 auto;
      }
    }
  }

  .jelly-gan-data {
    max-width: 370px;
    width: 100%;

    @media (min-width: 992px) {
      position: absolute;
      left: 180px;
      bottom: -90px;
    }

    h3 {
      margin: 0 0 10px;

      @media (min-width: 992px) {
        margin: 0 0 20px;
      }
    }
  }
}

.jelly-smart {

  @media (max-width: 767px) {
    margin: 0 0 70px 0;
  }

  @media (min-width: 768px) {
    margin: 50px auto 30px auto;
  }

  .container {
    position: relative;
  }

  &-data {

    img {
      @media (min-width: 1921px) {
        width: 100%;
      }
    }

    .jelly-smart-content {

      @media (min-width: 768px) {
        position: absolute;
        left: 90px;
        bottom: 10px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        left: 0;
        bottom: 10px;
      }

      /*ipad PRo 12.9"*/
      @media only screen
      and (min-device-width: 1024px)
      and (max-device-width: 1024px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 2) {
        left: 0;
        font-size: 80%;
      }

      h3,p {
        @media (min-width: 768px) {
          color: #fff;
          font-weight: 400;
        }
      }

      h3 {
        margin: 0 0 20px;
        color: #707070;

        @media (max-width: 767px) {
          max-width: 160px;
          margin: 20px 0;
        }

        @media (min-width: 1025px) {
          max-width: 280px;
          line-height: 3.8rem;
        }
      }

      p {
        @media (min-width: 1025px) {
          max-width: 330px;
          font-size: 1.6rem;
          width: 100%;
        }
      }
    }
  }
}

.jelly-pintsize {
  margin: 0;

  @media (max-width: 991px) {
    margin: 0 0 50px 0;
  }

  &-data {

    h3 {
      margin: 0;

      @media (max-width: 767px) {
        max-width: 160px;
        margin: 0 0 12px;
      }
      @media (min-width: 1025px) {
        text-align: right;
      }
    }

    p {
      font-weight: 400;
    }
  }
}

.jelly-products {
  .container {
    @media (max-width: 767px) {
      margin: 0 15px 0 0;
    }
    /*ipad PRo 12.9"*/
      @media only screen
    	and (min-device-width: 1024px)
    	and (max-device-width: 1024px)
    	and (orientation: portrait)
    	and (-webkit-min-device-pixel-ratio: 2) {
    		margin: 0 15px;
    	}
  }
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
