h1, h2, h3, h4, h5, h6,p {
  color: #6f706f;
  font-weight: 600;
}

video {
  max-width: 100%;
  object-fit: fill;
}

.vertical-row {
  @media (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.vertical-col {
  @media (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.mobile-flex {
  @media (max-width: 767px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn-secondary-outline {
  background-color: #707070;
  border: 1px solid #707070;
  color: #fff;
  padding: 8px 18px;
  border-radius: 8px;
  text-transform: uppercase;
  line-height: 1.6em;
  transition: all 0.3s;

  &:focus, &:hover {
    background-color: transparent;
    border: 1px solid #6f706f;
    color: #6f706f;
  }
}

.img-parallax {
  transition: all 1.7s;
}

.jelly-land {

  .jelly-title {

    .container {
      position: relative;
    }

    .gan-box {
      max-width: 390px;
      margin: 8px auto;
      width: 100%;

      @media (min-width: 1025px) {
        position: absolute;
        right: 120px;
        height: 100%;
      }

      &-data {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;

        p {
          margin: 0 0 5px;
        }

        img {
          max-width: 40px;
          margin-left: 5px;
        }
      }

      h1 {
        font-weight: 700;
        font-size: 46px;
        font-family: 'proxima_novabold';
        line-height: 0.8em;
        margin: 0;

        @media (max-width: 767px) {
          font-size: 38px;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size: 42px;
        }
      }
    }
  }

  .gun-charger {
    margin: 0 0 70px;

    @media (max-width: 991px) {
      margin: 20px 0 60px;
    }

    .gun-charger-types {

      @media (max-width: 767px) {
        .mobile-flex {
          flex-wrap: wrap;

          div {
            &:first-child {
              order: 2;
            }
          }
        }

        .gun-charger-data {
          margin-bottom: 30px;
        }
      }

      .gun-charger-bg {
        /* Set a specific height */
        min-height: 650px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

.rapid-charge {
  width: 100%;
  display: inline-block;
  margin: 30px 0;

  .container {
    position: relative;
  }

  &-data {
    width: 100%;
    height: 100%;
    max-width: 100%;

    @media (min-width: 1025px) {
      position: absolute;
      right: 20px;
      top: 0;
      max-width: 450px;
    }

    h3,
    p {
      @media (min-width: 768px) and (max-width: 1024px) {
        text-align: center;
      }
    }

    .rapid-box {
      width: 100%;
      background-repeat: no-repeat;
      background-image: url(../images/ChargeBars/Similar-Sized-Chargers-Border.png);

      @media (max-width: 767px) {
        background-size: contain;
        height: 100%;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        background-position: center;
      }

        &-data {
          width: 0%;
          height: 54px;
          background-repeat: no-repeat;

          transition: width 2s;

          @media (max-width: 767px) {
            background-size: contain;
            height: 42px;
          }

          @media (min-width: 768px) and (max-width: 1024px) {
            background-position: center;
          }

          p {
            margin: 0;
          }

          &.charged {
            width: 100%;
          }
        }

        &-green {
          background-image: url(../images/ChargeBars/Speeds-Border.png);
          position: relative;
          margin: 20px 0;

          .rapid-box-data {
            background-position: 0 2px;
            height: 94px;

            @media (max-width: 767px) {
              height: 70px;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
              background-position: center 2px;
            }
          }
        }
      }

    &-desc {
      margin-top: 12px;
      @media (min-width: 768px) and (max-width: 1024px) {
        margin-top: 32px;
      }
    }
  }
}

.jellyfish-acc {
  &-img {
    overflow: hidden;

    img {
      transition: 4.5s all ease-in-out;

      @media (min-width: 1921px) {
        width: 100%;
      }
    }

    &:hover, &:focus {
      img {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
}

.jelly-gan {
  margin: 70px 0 30px 0;

  .container {
    @media (min-width: 992px) {
      position: relative;
    }
  }

  .jelly-gan-img {

    img {
      @media (min-width: 992px) {
        margin: 0 auto;
      }
    }
  }

  .jelly-gan-data {
    max-width: 550px;
    width: 100%;

    @media (min-width: 992px) {
      position: absolute;
      left: 0;
      bottom: 60px;
    }

    h3 {
      margin: 0 0 10px;
    }
  }
}

.jelly-smart {

  @media (max-width: 767px) {
    margin: 0 0 70px 0;
  }

  @media (min-width: 768px) {
    margin: 120px 0 0 0;
  }

  .container {
    position: relative;
  }

  &-data {

    img {
      @media (min-width: 1921px) {
        width: 100%;
      }
    }

    .jelly-smart-content {

      @media (min-width: 768px) {
        position: absolute;
        left: 80px;
        bottom: 60px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        left: 0;
        bottom: 10px;
      }

      h3,p {
        @media (min-width: 768px) {
          color: #fff;
          font-weight: 400;
        }
      }
    }
  }
}

.jelly-pintsize {
  margin: 0 0 150px 0;

  @media (max-width: 991px) {
    margin: 0 0 100px 0;
  }

  &-data {
    max-width: 620px;
    margin: 0 auto;
    text-align: center;

    p {
      font-weight: 400;
    }
  }
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
